version: '3'
services:
  eureka-serviceregistry:
    build:
      context: ./Cloud/Eureka
      dockerfile: dockerfile
    ports:
     - "8761:8761"
    tty:
      true
    restart:
      unless-stopped

  zuul-edgeservice:
    build:
      context: ./Cloud/Zuul
      dockerfile: dockerfile
    ports:
     - "8762:8762"
    environment:
      - REGISTRY_HOST=eureka-serviceregistry
    tty:
      true
    restart:
      unless-stopped

  db:
    image: postgres
    restart: always
    environment:
      - POSTGRES_DB=pubizr
      - POSTGRES_USER=pubizr_user
      - POSTGRES_PASSWORD=Bla123_user
    ports:
      - "5432:5432"
    volumes:
      - ./Database/db-data:/var/lib/postgresql


  pub-service:
    build:
      context: ./Services/pub-service
      dockerfile: dockerfile
    environment:
      - REGISTRY_HOST=eureka-serviceregistry
      - DB_HOST=db
      - DB_PORT=5432
    tty:
      true
    restart:
      unless-stopped

  user-service:
    build:
      context: ./Services/pubweb-user-service
      dockerfile: dockerfile
    environment:
      - REGISTRY_HOST=eureka-serviceregistry
      - DB_HOST=db
      - DB_PORT=5432
    tty:
      true
    restart:
      unless-stopped

  review-service:
    build:
      context: ./Services/review-service
      dockerfile: dockerfile
    environment:
      - REGISTRY_HOST=eureka-serviceregistry
      - DB_HOST=db
      - DB_PORT=5432
    tty:
      true
    restart:
      unless-stopped
